<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlabsoft.hana.onethecar.onthecaradmin.mobile.capital.CapitalMapper">

    <select id="getCarLease" resultType="map">
        SELECT 
            goods_id,
            low_rate,
            high_rate
		FROM 
			capital_rate
		WHERE
            goods_id = 'LESS'
	</select>
    

    <select id="getLongtermRental" resultType="map">
        SELECT 
            goods_id,
            low_rate,
            high_rate
		FROM 
			capital_rate
		WHERE
            goods_id = 'RENT'
	</select>

    <select id="getUsedcarLoan" resultType="map">
        SELECT 
            goods_id,
            low_rate,
            high_rate,
            low_redemption_period,
            high_redemption_period
		FROM 
			capital_rate
		WHERE
            goods_id = 'USEDCAR'
	</select>

</mapper>