<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlabsoft.hana.onethecar.onthecaradmin.mobile.card.CardMapper">

    <select id="getAutoCardInstallment" resultType="map">
        SELECT 
            goods_id,
            month1,
            month2,
            month3,
            month4,
            month5,
            month6,
            month7,
            month8,
            rate1,
            rate2,
            rate3,
            rate4,
            rate5,
            rate6,
            rate7,
            rate8
		FROM 
			card_cardInstallment_rate
		WHERE
            goods_id = 'CARDINSTALLMENT'
	</select>

	<select id="getAutoInstallment" resultType="map">
        SELECT 
            goods_id,
            month1,
            month2,
            month3,
            month4,
            month5,
            month6,
            month7,
            month8,
            low_rate1,
            low_rate2,
            low_rate3,
            low_rate4,
            low_rate5,
            low_rate6,
            low_rate7,
            low_rate8,
            cashback_rate1,
            cashback_rate2,
            cashback_rate3,
            cashback_rate4,
            cashback_rate5,
            cashback_rate6,
            cashback_rate7,
            cashback_rate8
		FROM 
			card_installment_rate
		WHERE
            goods_id = 'INSTALLMENT'
	</select>
    

    <select id="getAutoLoan" resultType="map">
        SELECT 
            goods_id,
            fixed_rate
		FROM 
			card_loan_rate
		WHERE
            goods_id = 'LONA'
	</select>

    <select id="getAutoCashback" resultType="map">
        SELECT 
            goods_id,
            DATE_FORMAT(start_dt, '%Y-%m-%d') start_dt,
			DATE_FORMAT(end_dt, '%Y-%m-%d') end_dt,
            cashback1,
            cashback2,
            cashback3
		FROM 
			card_auto_cashback_rate
		WHERE
            goods_id = 'CASHBACK'
	</select>
</mapper>