<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlabsoft.hana.onethecar.onthecaradmin.admin.goodsRate.GoodsRateMapper">

	<!-- 코드가져오기 -->
	<select id="getSelectCodes" parameterType="HashMap" resultType="HashMap">
        SELECT
            goods_id,
            goods_nm,
			type
        FROM
            goods
        WHERE
            type = #{type}
    </select>

	<!-- 금리관리 DB유무 체크  -->
	<select id="selectRateCheck" parameterType="HashMap" resultType="HashMap">
		SELECT
			*
		FROM
			goods_rate
		WHERE
			goods_id = #{goods_id} 
	</select>

	<!--상세 -->
    <select id="getGoodsRateDetail" resultType="HashMap" parameterType="HashMap">
        SELECT
			goods_id,
			DATE_FORMAT(new_base_rate_dt, '%Y-%m-%d') new_base_rate_dt,
			new_base_rate,
			new_add_rate,
			new_add_rate2,
			new_rate1,
			new_rate2,
			new_rate3,
			new_rate4,
			new_rate5,
			new_rate6,
			new_rate7,
			DATE_FORMAT(used_base_rate_dt, '%Y-%m-%d') used_base_rate_dt,
			used_base_rate,
			used_add_rate,
			used_add_rate2,
			used_rate1,
			used_rate2,
			used_rate3,
			used_rate4,
			used_rate5,
			used_rate6,
			used_rate7
        FROM
            goods_rate
        WHERE 
			goods_id = #{goodsId}
    </select>
	

	<!-- 등록 -->
	<insert id="setGoodsRate" parameterType="HashMap">
		INSERT INTO
			goods_rate
				(	
					goods_id,
					new_base_rate_dt,
					new_base_rate,
					new_add_rate,
					new_add_rate2,
					new_rate1,
					new_rate2,
					new_rate3,
					new_rate4,
					new_rate5,
                    new_rate6,
                    new_rate7,
					used_base_rate_dt,
					used_base_rate,
					used_add_rate,
					used_add_rate2,
					used_rate1,
					used_rate2,
					used_rate3,
					used_rate4,
					used_rate5,
					used_rate6,
					used_rate7,
					reg_id,
					reg_dt
				)
			VALUES
				(	
					#{goodsId},
					#{newRateDt},
					#{newCarBaseRate},
					#{newAddRate},
					<if test="newAddRate2 != ''">
						#{newAddRate2},
					</if>
					<if test="newAddRate2 == ''">
						0,
					</if>
					#{newRate1},
					#{newRate2},
					#{newRate3},
					#{newRate4},
					#{newRate5},
					#{newRate6},
					#{newRate7},
					#{usedRateDt},
					#{usedCarBaseRate},
					#{usedAddRate},
					<if test="usedAddRate2 !=''">
						#{usedAddRate2},
					</if>
					<if test="usedAddRate2 ==''">
						0,
					</if>
					#{usedRate1},
					#{usedRate2},
					#{usedRate3},
					#{usedRate4},
					#{usedRate5},
					#{usedRate6},
					#{usedRate7},
					#{userId},
					now()
				)
	</insert>

	<!-- 수정 -->
    <update id="putGoodsRate" parameterType="HashMap">
		update
			goods_rate
		set
			goods_id = #{goodsId}
			,new_base_rate_dt = #{newRateDt}
			,new_base_rate = #{newCarBaseRate}
			,new_add_rate = #{newAddRate}
			<if test="newAddRate2 != ''" >
				,new_add_rate2 = #{newAddRate2}
			</if>
			<if test="newAddRate2 == ''">
				,new_add_rate2 = ''
			</if>
			,new_rate1 = #{newRate1}
			,new_rate2 = #{newRate2}
			,new_rate3 = #{newRate3}
			,new_rate4 = #{newRate4}
			,new_rate5 = #{newRate5}
			,new_rate6 = #{newRate6}
			,new_rate7 = #{newRate7}
			,used_base_rate_dt = #{usedRateDt}
			,used_base_rate = #{usedCarBaseRate}
			,used_add_rate = #{usedAddRate}
			<if test="usedAddRate2 != ''" >
				,used_add_rate2 = #{newAddRate2}
			</if>
			<if test="usedAddRate2 == ''">
				,used_add_rate2 = ''
			</if>
			,used_rate1 = #{usedRate1}
			,used_rate2 = #{usedRate2}
			,used_rate3 = #{usedRate3}
			,used_rate4 = #{usedRate4}
			,used_rate5 = #{usedRate5}
			,used_rate6 = #{usedRate6}
			,used_rate7 = #{usedRate7}
			,upd_id = #{userId}
			,upd_dt = now()
		where
			goods_id = #{goodsId} 
	</update>

</mapper>